In [2]:
import pandas as pd
import numpy as np

from pydataset import data

In [5]:
df = data('HairEyeColor')
df.head()

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32
2  Brown  Brown  Male    53
3    Red  Brown  Male    10
4  Blond  Brown  Male     3
5  Black   Blue  Male    11

In [10]:
df.Freq.sum()

592

In [11]:
df_dis = df.loc[df.index.repeat(df.Freq)].reset_index(drop=True)
df_dis.head()

    Hair    Eye   Sex  Freq
0  Black  Brown  Male    32
1  Black  Brown  Male    32
2  Black  Brown  Male    32
3  Black  Brown  Male    32
4  Black  Brown  Male    32

In [12]:
df_dis = df_dis.drop(columns=['Freq'])

In [13]:
df_dis.head()

    Hair    Eye   Sex
0  Black  Brown  Male
1  Black  Brown  Male
2  Black  Brown  Male
3  Black  Brown  Male
4  Black  Brown  Male

In [15]:
df_dis.shape

(592, 3)