In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Acquire Telco Data

In [2]:
df = pd.read_csv('telco.csv')
df.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_internet_and_phone,partner_dependents,Start_day,Monthly_charges,Validation,Contract Type,Phone Type,Internet Type,Monthly Tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,...,True,True,3,2020-05-03,65.6,1,1 Year,One Line,DSL,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,...,True,True,0,2020-05-03,59.9,1,Month-to-Month,Two or More Lines,DSL,9.0
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,...,True,True,0,2020-11-03,73.9,1,Month-to-Month,One Line,Fiber Optic,4.0
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,...,True,True,1,2020-02-03,98,1,Month-to-Month,One Line,Fiber Optic,13.0
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,...,True,True,1,2020-11-03,83.9,1,Month-to-Month,One Line,Fiber Optic,3.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   gender                  7049 non-null   object
 2   is_senior_citizen       7049 non-null   int64
 3   partner                 7049 non-null   object
 4   dependents              7049 non-null   object
 5   phone_service           7049 non-null   int64
 6   internet_service        7049 non-null   int64
 7   contract_type           7049 non-null   int64
 8   payment_type            7049 non-null   object
 9   monthly_charges         7049 non-null   float64
 10  total_charges           7038 non-null   float64
 11  churn                   7049 non-null   object
 12  Tenure_month            7049 non-null   float64
 13  FALSE                   7049 non-null   bool
 14  has_chruned             7049 non-null   bool
 15  has_phone               7049 non-null   bool
 16  has_internet            7049 non-null   bool
 17  has_internet_and_phone  7049 non-null   bool
 18  partner_dependents      7049 non-null   int64
 19  Start_day               7049 non-null   object
 20  Monthly_charges         7049 non-null   object
 21  Validation              7049 non-null   object
 22  Contract Type           7049 non-null   object
 23  Phone Type              7049 non-null   object
 24  Internet Type           7049 non-null   object
 25  Monthly Tenure          7049 non-null   float64
dtypes: bool(5), float64(4), int64(5), object(12)
memory usage: 1.2+ MB

## Prepare Telco Data

- Drop any rows with Null values.
- Keep only columns I may be interested in and exclude all others.
- Rename columns clearly and uniformly.

In [4]:
df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7032 non-null   object
 1   gender                  7032 non-null   object
 2   is_senior_citizen       7032 non-null   int64
 3   partner                 7032 non-null   object
 4   dependents              7032 non-null   object
 5   phone_service           7032 non-null   int64
 6   internet_service        7032 non-null   int64
 7   contract_type           7032 non-null   int64
 8   payment_type            7032 non-null   object
 9   monthly_charges         7032 non-null   float64
 10  total_charges           7032 non-null   float64
 11  churn                   7032 non-null   object
 12  Tenure_month            7032 non-null   float64
 13  FALSE                   7032 non-null   bool
 14  has_chruned             7032 non-null   bool
 15  has_phone               7032 non-null   bool
 16  has_internet            7032 non-null   bool
 17  has_internet_and_phone  7032 non-null   bool
 18  partner_dependents      7032 non-null   int64
 19  Start_day               7032 non-null   object
 20  Monthly_charges         7032 non-null   object
 21  Validation              7032 non-null   object
 22  Contract Type           7032 non-null   object
 23  Phone Type              7032 non-null   object
 24  Internet Type           7032 non-null   object
 25  Monthly Tenure          7032 non-null   float64
dtypes: bool(5), float64(4), int64(5), object(12)
memory usage: 1.2+ MB

In [6]:
df.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'Tenure_month', 'FALSE',
       'has_chruned', 'has_phone', 'has_internet', 'has_internet_and_phone',
       'partner_dependents', 'Start_day', 'Monthly_charges', 'Validation',
       'Contract Type', 'Phone Type', 'Internet Type', 'Monthly Tenure'],
      dtype='object')

In [7]:
df = df[['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'Tenure_month',
       'has_chruned', 'has_phone', 'has_internet', 'has_internet_and_phone',
       'partner_dependents', 'Start_day', 'Phone Type', 'Internet Type']]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7032 non-null   object
 1   gender                  7032 non-null   object
 2   is_senior_citizen       7032 non-null   int64
 3   partner                 7032 non-null   object
 4   dependents              7032 non-null   object
 5   phone_service           7032 non-null   int64
 6   internet_service        7032 non-null   int64
 7   contract_type           7032 non-null   int64
 8   payment_type            7032 non-null   object
 9   monthly_charges         7032 non-null   float64
 10  total_charges           7032 non-null   float64
 11  churn                   7032 non-null   object
 12  Tenure_month            7032 non-null   float64
 13  has_chruned             7032 non-null   bool
 14  has_phone               7032 non-null   bool
 15  has_internet            7032 non-null   bool
 16  has_internet_and_phone  7032 non-null   bool
 17  partner_dependents      7032 non-null   int64
 18  Start_day               7032 non-null   object
 19  Phone Type              7032 non-null   object
 20  Internet Type           7032 non-null   object
dtypes: bool(4), float64(3), int64(5), object(9)
memory usage: 1016.3+ KB

In [9]:
df.columns = ['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_int', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'tenure_month',
       'has_churned', 'has_phone', 'has_internet', 'has_internet_and_phone',
       'partner_dependents', 'start_day', 'phone_type', 'internet_type']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7032 non-null   object
 1   gender                  7032 non-null   object
 2   is_senior_citizen       7032 non-null   int64
 3   partner                 7032 non-null   object
 4   dependents              7032 non-null   object
 5   phone_service           7032 non-null   int64
 6   internet_service        7032 non-null   int64
 7   contract_int            7032 non-null   int64
 8   payment_type            7032 non-null   object
 9   monthly_charges         7032 non-null   float64
 10  total_charges           7032 non-null   float64
 11  churn                   7032 non-null   object
 12  tenure_month            7032 non-null   float64
 13  has_churned             7032 non-null   bool
 14  has_phone               7032 non-null   bool
 15  has_internet            7032 non-null   bool
 16  has_internet_and_phone  7032 non-null   bool
 17  partner_dependents      7032 non-null   int64
 18  start_day               7032 non-null   object
 19  phone_type              7032 non-null   object
 20  internet_type           7032 non-null   object
dtypes: bool(4), float64(3), int64(5), object(9)
memory usage: 1016.3+ KB

In [11]:
df.contract_int.value_counts(dropna=False)

0    3873
2    1685
1    1474
Name: contract_int, dtype: int64

In [12]:
# Create a column of string internet type values based on contract_int column.

df['contract_type'] = df.contract_int.map({0: 'Month-to-Month', 1: '1 Year', 2: '2 Year'})

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7032 non-null   object
 1   gender                  7032 non-null   object
 2   is_senior_citizen       7032 non-null   int64
 3   partner                 7032 non-null   object
 4   dependents              7032 non-null   object
 5   phone_service           7032 non-null   int64
 6   internet_service        7032 non-null   int64
 7   contract_int            7032 non-null   int64
 8   payment_type            7032 non-null   object
 9   monthly_charges         7032 non-null   float64
 10  total_charges           7032 non-null   float64
 11  churn                   7032 non-null   object
 12  tenure_month            7032 non-null   float64
 13  has_churned             7032 non-null   bool
 14  has_phone               7032 non-null   bool
 15  has_internet            7032 non-null   bool
 16  has_internet_and_phone  7032 non-null   bool
 17  partner_dependents      7032 non-null   int64
 18  start_day               7032 non-null   object
 19  phone_type              7032 non-null   object
 20  internet_type           7032 non-null   object
 21  contract_type           7032 non-null   object
dtypes: bool(4), float64(3), int64(5), object(10)
memory usage: 1.0+ MB

### Write clean data to csv file.

In [14]:
df.to_csv('clean_telco.csv')

In [15]:
pd.read_csv('clean_telco.csv', index_col=0)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_int,payment_type,monthly_charges,...,tenure_month,has_churned,has_phone,has_internet,has_internet_and_phone,partner_dependents,start_day,phone_type,internet_type,contract_type
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,...,9.0,False,True,True,True,3,2020-05-03,One Line,DSL,1 Year
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,...,9.1,False,True,True,True,0,2020-05-03,Two or More Lines,DSL,Month-to-Month
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,...,3.8,True,True,True,True,0,2020-11-03,One Line,Fiber Optic,Month-to-Month
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,...,12.6,True,True,True,True,1,2020-02-03,One Line,Fiber Optic,Month-to-Month
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,...,3.2,True,True,True,True,1,2020-11-03,One Line,Fiber Optic,Month-to-Month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Male,0,Yes,Yes,1,0,2,Credit card (automatic),19.75,...,43.4,False,True,False,False,3,2017-07-03,One Line,No Internet Service,2 Year
7039,9992-RRAMN,Male,0,No,No,1,0,0,Mailed check,18.90,...,1.0,False,True,False,False,0,2021-01-03,One Line,No Internet Service,Month-to-Month
7040,9992-UJOEL,Male,1,Yes,Yes,1,2,1,Bank transfer (automatic),84.95,...,47.3,False,True,True,True,3,2017-03-03,One Line,Fiber Optic,1 Year
7041,9993-LHIEB,Female,0,No,No,1,2,1,Mailed check,94.05,...,6.7,False,True,True,True,0,2020-08-03,One Line,Fiber Optic,1 Year
7042,9995-HOTOH,Female,0,No,No,1,2,0,Mailed check,70.15,...,1.0,True,True,True,True,0,2021-01-03,One Line,Fiber Optic,Month-to-Month

In [16]:
# Create subset of month-to-month contract customers only.

m2m = df[df.contract_type == 'Month-to-Month']

In [17]:
# I have 3_873 month-to-month customers.

m2m.shape

(3873, 22)

In [18]:
m2m.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_int,payment_type,monthly_charges,...,tenure_month,has_churned,has_phone,has_internet,has_internet_and_phone,partner_dependents,start_day,phone_type,internet_type,contract_type
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,...,9.1,False,True,True,True,0,2020-05-03,Two or More Lines,DSL,Month-to-Month
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,...,3.8,True,True,True,True,0,2020-11-03,One Line,Fiber Optic,Month-to-Month
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,...,12.6,True,True,True,True,1,2020-02-03,One Line,Fiber Optic,Month-to-Month
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,...,3.2,True,True,True,True,1,2020-11-03,One Line,Fiber Optic,Month-to-Month
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.4,...,8.2,False,True,True,True,2,2020-06-03,One Line,DSL,Month-to-Month

### Explore Internet Type

In [19]:
# Find the churn percentage for month-to-month subset.

m2m.has_churned.mean()

0.4270591272915053

In [20]:
# Find the total number of month-to-month customers who churn in our snapshot.

m2m.has_churned.sum()

1654

In [21]:
# Identify all values for internet type.

m2m.internet_type.value_counts()

Fiber Optic            2127
DSL                    1223
No Internet Service     523
Name: internet_type, dtype: int64

#### Create Subsets by Internet Type

In [22]:
# Create a month-to-month Fiber customer subset.

m2m_fiber = m2m[m2m.internet_type == 'Fiber Optic']
m2m_fiber.shape

(2127, 22)

In [27]:
# Create a month-to-month DSL customer subset.

m2m_dsl = m2m[m2m.internet_type == 'DSL']
m2m_dsl.shape

(1223, 22)

In [29]:
# Create a month-to-month No Internet customer subset.

m2m_no_internet = m2m[m2m.internet_type == 'No Internet Service']
m2m_no_internet.shape

(523, 22)

#### Create Subsets by Internet Type and Churn

In [23]:
# Create subsets of monthly Fiber customers who churn and those who don't.

m2m_f_churn = m2m_fiber[m2m_fiber.has_churned == True]
m2m_f_no_churn = m2m_fiber[m2m_fiber.has_churned == False]

In [30]:
# Create subsets of monthly DSL customers who churn and those who don't.

m2m_d_churn = m2m_dsl[m2m_dsl.has_churned == True]
m2m_d_no_churn = m2m_dsl[m2m_dsl.has_churned == False]

In [32]:
# Create subsets of monthly No Internet customers who churn and those who don't.

m2m_n_churn = m2m_no_internet[m2m_no_internet.has_churned == True]
m2m_n_no_churn = m2m_no_internet[m2m_no_internet.has_churned == False]

#### Examine Monthly Charges for Subsets

In [33]:
# Find the average monthly charges for month-to-month Fiber customers who churn.

m2m_f_churn.monthly_charges.mean()

86.47450473729536

In [34]:
# Find the average monthly charges for month-to-month Fiber customers who don't churn.

m2m_f_no_churn.monthly_charges.mean()

87.6802277432713

#### Create Subsets for M2M Churn or Not Churn

In [39]:
# Create Subsets of month-to-month customers who have churned and not churned.

m2m_churned = m2m[m2m.has_churned == True]
m2m_no_churn = m2m[m2m.has_churned == False]

#### Examine Churn by Internet Type

In [44]:
# 55 out of every 100 Fiber customers leave us.

m2m_fiber.has_churned.mean()

0.5458392101551481

In [47]:
# Validating my math.

m2m_f_churn.shape[0] / m2m_fiber.shape[0]

0.5458392101551481

In [45]:
# 32 out of every 100 DSL customers leave us.

m2m_dsl.has_churned.mean()

0.32297628781684384

In [46]:
# 19 out of every 100 customers without internet leave us.

m2m_no_internet.has_churned.mean()

0.18738049713193117

#### Examine the Breakdown of Internet Type for Churners

In [40]:
# 24% of our M2M Churners have DSL.

(m2m_d_churn.shape[0] / m2m_churned.shape[0])

0.23881499395405079

In [41]:
# 70% of our M2M Churners have Fiber.

(m2m_f_churn.shape[0] / m2m_churned.shape[0])

0.7019347037484885

In [42]:
# 6% of our M2M Churners have No Internet Service.

(m2m_n_churn.shape[0] / m2m_churned.shape[0])

0.0592503022974607