In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('superstore_for_storytelling_project.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [15]:
df['Category'].value_counts(dropna=False)

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [35]:
df['Discount'].describe()

count    9994.000000
mean        0.156203
std         0.206452
min         0.000000
25%         0.000000
50%         0.200000
75%         0.200000
max         0.800000
Name: Discount, dtype: float64

### Create Texas Cohort of Customers

In [27]:
# There are 985 orders/rows in Texas.

texas_cohort = df[df['State'] == 'Texas']
texas_cohort.shape

(985, 21)

In [40]:
texas_cohort.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,5162.985787,76901.211168,172.779742,3.780711,0.370193,-26.121174
std,2953.031441,1251.940629,424.447771,2.158043,0.243362,189.022781
min,15.000000,75002.000000,0.444000,1.000000,0.200000,-3701.892800
25%,2613.000000,76017.000000,10.824000,2.000000,0.200000,-17.027400
50%,5190.000000,77041.000000,36.288000,3.000000,0.200000,0.333600
75%,8030.000000,77506.000000,158.376000,5.000000,0.600000,6.998600
max,9973.000000,79907.000000,8159.952000,14.000000,0.800000,624.987500

In [36]:
# What do Texas discounts look like? Zoom in on discounts.

texas_cohort['Discount'].describe()

count    985.000000
mean       0.370193
std        0.243362
min        0.200000
25%        0.200000
50%        0.200000
75%        0.600000
max        0.800000
Name: Discount, dtype: float64

In [29]:
# There are 253 orders/rows in Texas that are not profitable in Office Supplies.

not_profitable_in_office_supplies = texas_cohort[(texas_cohort['Category'] == 'Office Supplies') & (texas_cohort['Profit'] <= 0)]
not_profitable_in_office_supplies.shape

(253, 21)

In [39]:
# There are 160 customers that are not profitable in Office Supplies.
# None of them are profitable overall.

not_profitable_in_office_supplies.groupby('Customer ID')['Profit'].sum().sort_values(ascending=False)

Customer ID
JD-15790      -0.2098
CM-12160      -0.3488
RW-19630      -0.8120
RS-19765      -0.9452
HG-14965      -1.4016
              ...
PF-19120   -1181.2824
KD-16270   -1482.0079
ZC-21910   -1857.2636
NC-18415   -2296.2548
LF-17185   -3754.1572
Name: Profit, Length: 160, dtype: float64

__________

In [44]:
state_freq = df.State.value_counts(normalize=True)
state_count = df.State.value_counts()

In [47]:
states_df = pd.concat([state_freq, state_count], axis=1)
states_df.columns = ['state_freq', 'state_count']

In [48]:
states_df.head()

              state_freq  state_count
California      0.200220         2001
New York        0.112868         1128
Texas           0.098559          985
Pennsylvania    0.058735          587
Washington      0.050630          506

In [55]:
# Create a list of unique states names.

states_list = list(df.State.unique())
len(states_list)

49

In [57]:
# Which states name is the longest in the list and how long is the string?

max(states_list, key=len), len(max(states_list, key=len))

('District of Columbia', 20)